{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}


{% block body %}
<h1> Hello {{name}} </h1>
<br>
List of currently available channels:
<br>
<div class="list-group">
  {% for channel in channels %}
  <a href="#" class="list-group-item list-group-item-action">Channel: {{channel}}</a>
  {% endfor %}
</div>

<br>
<br>
Don't find what you're looking for? Create one:
<form action="{{url_for('chat') }}" method="post">
  <div class="form-group">

    <input name="channel_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Channel name" required>
    <small id="emailHelp" class="form-text text-muted">This channel will be created just for you.</small>
  </div>
  <button type="submit" class="btn btn-primary">Create channel</button>
</form>

{% endblock %}

{% block rightcorner %}
{% endblock %}
