{% extends "layout.html" %}
{% block title %} Channel {% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='channel.js') }}"></script>

{% endblock %}
{% block left %}
{% endblock %}

{% block middle %}
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <h1 id='Name'> </h1>
 List of currently available channels:
 <br>
 <div id="link_list" class="list-group">
 </div>
{% endblock %}


{% block right %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
Don't find what you're looking for? Create one:
<form id="form" method="post">
  <div class="form-group">

    <input id="channel_entry" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Channel name" required>
    <small id="subtext" class="form-text text-muted">This channel will be created just for you.</small>
  </div>
  <button id="submit_button" type="submit" class="btn btn-primary">Create channel</button>
</form>

{% endblock %}
