<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{{ url_for('static', filename='channel.js') }}"></script>
     </head>
     <body>
         <div class="container-fluid">
           <div class="row">
                 <div class="col-4">
                 </div>
                 <div class="col-4">
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <br>
                 <h1 id='Name'> </h1>
                 List of currently available channels:
                 <br>
                 <div class="list-group">
                   {% if channels %}
                      {% for channel in channels %}
                      <a href="{{ url_for('chat', nb=loop.index)}}" class="list-group-item list-group-item-action">Channel {{loop.index}}: {{channel}}</a>
                      {% endfor %}
                   {% else %}
                      <p>Sorry, no channel created yet</p>
                   {% endif %}
                 </div>


                </div>
                <div class="col-3">
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  Don't find what you're looking for? Create one:
                  <form id="form" method="post">
                    <div class="form-group">

                      <input id="channel_entry" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Channel name" required>
                      <small id="subtext" class="form-text text-muted">This channel will be created just for you.</small>
                    </div>
                    <button id="submit_button" type="submit" class="btn btn-primary">Create channel</button>
                  </form>
                </div>

            </div>
        </div>
    </body>
</html>
