{% extends "layout.html" %}
{% block title %} Chat {% endblock %}
{% block js %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block middle %}
<br>
<br>
<br>
<br>
<br>
<ul id="messages">
</ul>
<hr>
<br>
<br>
<input id="message_entry" type="text" class="form-control" placeholder="Message" required>
<br>
<button id="message_button" class="btn btn-primary">Send message</button>
{% endblock %}

{% block right %}
<br>
<br>
<br>
<br>
<p> List of channels: </p>
<br>
{% if channels %}
<div class="list-group">
   {% for channel in channels %}
   <a href="#" class="list-group-item list-group-item-action">Channel {{loop.index}}: {{channel}} </a>
   {% endfor %}
</div>
<br>
<br>
<p id="current_chan"> You're on a channel called: XXX </p>
{% else %}
<p>Weird, channels object seems empty</p>
{% endif %}
{% endblock %}
