{% extends "layout_chatroom.html" %}
{% block title %} Chat {% endblock %}
{% block js %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='chat.js') }}"></script>
<style>
.delB  {
    float: right;
    font-size: small;
    border: none;
    background-color: white;
}
.delB:hover {
    color:red;
}
#current_chan {
    font-size: x-large;
    padding: 0 0 0 10%;
}
#back_name, #back_channel {
    width: 65%;
    font-size: 0.8vw;
}
</style>
{% endblock %}

{% block left %}
<br>
<br>
<p id='current_chan'></p>
{% endblock %}


{% block middle %}
<br>
<br>
<br>
<div id="messages">
</div>
<hr>
<br>
<br>
<input id="message_entry" type="text" class="form-control" placeholder="Message" required>
<br>
<button id="message_button" class="btn btn-primary">Send message</button>
{% endblock %}

{% block rightcorner %}
<button id="back_channel" class="btn btn-outline-secondary">Change channel</button>
<br>
<br>
<button id="back_name" class="btn btn-outline-info">Change name</button>
{% endblock %}
