{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block js %} <script src="{{ url_for('static', filename='index.js') }}"></script> {% endblock %}

{% block middle %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1> Ready to chat? </h1>
<form action="{{ url_for('channel') }}" method="post">
  <div class="form-group">
     <input name="name" id="name_entry" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Display Name">
     <small id="emailHelp" class="form-text text-muted">This name will be displayed when you send a message.</small>
   </div>
     <button id="submit_button" type="submit" class="btn btn-primary">Go</button>
 </form>
{% endblock %}
